main, header {
    padding: 1rem 3rem;
}
main {
    display: flex; 
    justify-content: center;

}

header {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}