

<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <fieldset class="form-group">
        <label for="username" class="formGroupExampleInput bigger"> Log in with your poke-trainer username to proceed </label>
        <input type="text" 
        ngModel
        #username="ngModel"
        name="username" 
        id="username" 
        required 
        minlength="3" 
        class="form-control transparent" placeholder="username"/>
    </fieldset>

    <button type="submit" class="btn btn-outline-danger btn-lg transparent"> Login </button>
    <div *ngIf="username.invalid && (username.dirty || username.touched)">
        <br>
        <div *ngIf="username.errors?.['required']"><p>Username is required </p> </div>
        <div *ngIf="username.errors?.['minlength']"> <p>Your username has to be at least 3 characters </p></div>
    </div>
</form>
