

<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <fieldset class="form-group">
        <label for="username" class="formGroupExampleInput bigger"> Log in with your poke-trainer username to proceed </label>
        <input type="text" 
        ngModel
        #username="ngModel"
        name="username" 
        id="username" 
        class="form-control transparent" placeholder="username"/>
    </fieldset>
    <button type="submit" class="btn btn-outline-danger btn-lg transparent"> Login </button>


</form>
